<%- include("header") -%>

<h2>About this Project</h2>

<p>This beautiful ToDoList App can add and delete new items. Checks which date it is and gives you a command. It´s made with ejs, express, mongoose, bodyParser and Lodash. </p>

<%- include("footer") -%>
